
# Ignore all extensionless files.
*
!*.*
!*/

# Bakefiles:
!bakefile
*.bake-cache

# Testing
temp/
test/

# Editor-specific
/ols.json
/.vscode

# Valgrind
/vgcore.*

# Binaries
*.bin
*.o
*.obj
*.exe
*.pdb
